html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-brand .logo-circle {
    border-radius: 50%;
}

.container {
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto; 
}

h2, p {
    text-align: center;
}

.logo-circle {
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto; 
}
